.d-inline a,
.d-inline span{
    text-decoration: none;
    color: #9ca3af;
}

.d-inline a:hover {
    color: #1a202c;
}

.hidden {
    display: none;
}

a.copy {
    text-decoration: none;
    color: black;
}

a.copy:hover {
    text-decoration: underline;
    color: rgba(213, 59, 53, 0.9);
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px dashed #fff;
    display: inline-block;
    padding: initial;
    cursor: pointer;
    color: #fff;
}

.overlay {
    background-color: #1a202c;
    height: 175px;
}

